 /* varaibles  */
 :root{
    --main-color: #ff523b;
    --secondry-color: #555;
    --section-padding: 60px;
    --section-background: radial-gradient(#fff,#ffd6d6);
 }
 /* start global rules */
 * {
     -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
     box-sizing: border-box;
 }
html {
    scroll-behavior: smooth;
}
 body {
    font-family: 'Poppins', sans-serif;
    padding: 0;
 }
a {
    text-decoration: none;
    color: var(--secondry-color);
}
a:hover {
    color: var(--main-color);
}
p {
    color: var(--secondry-color);
    margin: 25px 0;
    line-height: 30px;
}
.btn {
    display: inline-block;
    background-color: var(--main-color);
    color: #fff;
    padding: 8px 30px;
    margin: 30px 0;
    border-radius: 20px;
    transition: background-color 0.4s;
}
.btn:hover {
    background-color: #563434;
}
.logo {
    width: 130px;
}
i {
    color: var(--main-color);
}
 /* end of global rules  */

/* start of header style */
.header {
    padding: 15px;
    background: var(--section-background);
}
.header i {
    color: var(--secondry-color);
    font-size: 1.5em;
}
.header i:hover {
    color: var(--main-color);
}
.header .icon {
    width: 30px;
    display: flex;
    flex-wrap: wrap;
}
.header .icon span {
    background-color: #333;
    margin-bottom: 5px;
    height: 2px;
    width: 100%;
}
.header .head {
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.navbar img {
    width: 30px;
    height: 30px;
    position: relative;
    top: 4px;
}
.navbar ul {
    list-style: none;
    display: inline-block;
}
.navbar ul li {
    display: inline-block;
    padding:10px 35px;
}

.header .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    grid-gap: 20px;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
} 
.header .row .col-1 img {
    max-width: 90%;
}
/* end of header style */

/* start featured categories */
.categories .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-gap: 20px;
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.categories .row img {
    max-width: 100%;
}
 /* end of featured categories */
 /* start featured and latest products */
 .featured-products,
 .latest-products ,
 .testimonial ,
 .brands,
 .all-products,
 .products-details,
 .related-products {
     padding-top: var(--section-padding);
     padding-bottom: var(--section-padding);
 }
 .featured-products .col-4,
 .latest-products .col-8,
 .all-products .col-12,
 .related-products .col-4,
 .products-details img {
     transition: transform 0.4s;
     cursor: pointer;
 }
 .featured-products .col-4:hover,
 .latest-products .col-8:hover,
 .all-products .col-12:hover,
 .related-products .col-4:hover {
     transform: translateY(10px);
 }
 .featured-products h2 ,
 .latest-products h2 {
     font-weight: bold;
     font-size: 1.8em;
     text-align: center;
     color: var(--secondry-color);
     position: relative;
     padding: 20px 0;
 }
 .featured-products h2::after ,
 .latest-products h2::after {
     content: '';
     width: 80px;
     background: var(--main-color);
     border-radius: 5px;
     position: absolute;
     height: 5px;
     bottom: 0;
     left: 50%;
     transform: translateX(-50%);
 }
 .featured-products .row,
 .latest-products .row,
 .all-products .row,
 .related-products .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    grid-gap: 20px;
    padding-top: var(--section-padding);
 }
 .featured-products .row img,
 .latest-products .row img,
 .all-products .row img,
 .related-products .row img {
     max-width: 100%;
 }
 /* end of featured and latest products */
 /* start of offer section */
 .offer {
     background: var(--section-background);
 }
 .offer .row {
     display: grid;
     grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
     grid-gap: 20px;
     padding-top: var(--section-padding);
     padding-bottom: var(--section-padding);
 }
 .offer .row h2 {
     font-weight: bold;
     font-size: 2em;
 }
 .offer .row img {
     max-width: 80%;
 }
 .offer .row .col-2:first-child {
     text-align: center;
 }
 /* end of offer section */
 /* start of testimonials section */
 .testimonial .row{
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(320px,1fr));
    grid-gap: 20px;
    text-align: center;
 }
 .testimonial .row .col-3 {
     cursor: pointer;
     box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
     border-radius: 5%;
     padding: 40px 20px;
     margin-top: 30px;
 }
 .testimonial .row img {
     border-radius: 50%;
     width: 70px;
     height: 70px;
     margin-top: 20px;
 }
 .testimonial .col-3 .fa-quote-left {
     font-size: 40px;
 }
 .testimonial .col-3 {
     transition: transform 0.4s;
 }
 .testimonial .col-3:hover {
     transform: translateY(-20px);
 }
 /* end of testimonials section */
 /* start of brands section */
 .brands .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(180px,1fr));
    grid-gap: 20px;
 }
 .brands .row img {
     filter: grayscale(100%);
 }
 .brands .row img:hover {
    filter: grayscale(0);
}
 /* end of brands section */
 /* start of footer section */
 footer {
     background-color: #000;
     font-size: 14px;
 }
 footer p ,
 footer a {
     color: rgb(120, 120, 120);
 }
 footer .row {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(270px,1fr));
    grid-gap: 20px;
    padding-top: 40px;
    padding-bottom: 40px;
    text-align: center;
 }
 footer .col-4 .download {
     display: flex;
 }
 footer .col-4 .download img {
     width: 120px;
     margin-right: 10px;
 }
 footer .logo {
     padding-top: 14px;
     text-align: center;
 }
 footer .col-4 a {
     display: block;
     margin-top: 10px;
 }
 footer .col-4 h3 {
     color: white;
 }
 .copyright {
     text-align: center;
     padding-bottom: 4px;
 }
 .copyright hr {
     border: none;
     background: #b5b5b5;
     height: 1px;
 }
 .copyright span {
     color: var(--main-color);
 }
 /* end of footer section */
 /* ******************************************** style of products page ********************************* */
 .all-products h2,
 .products-details h2,
 .related-products h2 {
    font-weight: bold;
    font-size: 1.8em;
    text-align: start;
    color: var(--secondry-color);
    display: inline-block;
}
.all-products .sorting {
    justify-self: end;
    align-self:center;
}
.all-products .row-2 {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(220px,1fr));
    grid-gap: 20px;
}
.all-products select {
    border: 1px solid var(--main-color);
}
.all-products select,
.products-details .row .col-2 select,
.products-details .row input,
.cart input {
    padding: 5px;
    right: 0;
}
.all-products select:focus,
.products-details .row .col-2 select:focus,
.products-details .row input,
.cart input {
    outline: none;
}
.all-products .products {
    margin: 0 80px;
}
.all-products .row {
    margin: 0 20px;
}
.all-products .other-products {
    margin-left: 20px;
    margin-top: 30px;
    margin-bottom: 60px;
    font-size: 0.8em;
} 
.all-products .other-products span {
    border: 1px solid var(--main-color);
    margin: 4px;
    padding:8px 16px;
    cursor: pointer;
}
.all-products .other-products span:hover {
    background-color: var(--main-color);
    color: #fff;
}
/* ********************************** end of products page *****************************  */ 
/* *********************************** style of products details ***************************** */ 
.products-details .row .image-product img {
    max-width: 100%;
}
.products-details .images-product,
.products-details .image-product {
    text-align: center;
}
.products-details .row .col-2 h4 {
    color: var(--secondry-color);
}
.products-details .row .col-2 h2:first-of-type {
    color: #111;
    font-weight: bold;
    font-size: 2em;
}
.products-details .row .col-2 p:first-of-type,
.cart p  {
    font-weight: bold;
}
.products-details .row .col-2 input,
.cart input {
    width: 40px;
    text-align: center;
    margin-right: 20px;
}
.products-details .image-product:hover img {
    transform: translateY(-10px);
}
.products-details .images-product img:hover {
    transform: translateY(5px);
}
.products-details .row .images-product img {
    padding-top: 4px;
    max-width: 24.19%;
}
/* ************************************* end of products details  *********************************** */
/* ************************************ start of cart shopping style ******************************* */ 
.cart .small-container {
    overflow-x: hidden
}
.cart {
    padding-top: var(--section-padding);
    padding-bottom: 10px;
}
.subtotal {
    padding-bottom: var(--section-padding);
}
table {
    border-spacing: 0;
    width: 100%;
}

.cart table th {
    background-color: var(--main-color);
    color: rgb(247, 247, 247);
    text-align: start;
    padding: 4px 15px;
}
td {
    padding: 10px 5px;
}
td img {
    width: 80px;
    height: 80px;
}
.cart .product {
    display: flex;
    flex-wrap: wrap;
}
.cart .product .description {
    padding-left: 10px;
}
.cart small {
    color: var(--secondry-color);
    padding-top: 5px;
}
.cart p {
    margin: 0;
    margin-top: 10px;
    line-height: normal;
}
.cart span {
    color: var(--main-color);
    cursor: pointer;
    font-size: 0.9em;
    padding-top: 10px;
    display: block;
}
.subtotal .small-container {
    display: flex; 
    justify-content: flex-end;
}
.subtotal table {
    border-top: 3px solid var(--main-color);
    padding-top: 8px;
}
td:last-child {
    text-align: right;
}
.cart table th:last-of-type {
    text-align: right;
}
.subtotal-check {
    width: 100%;
    max-width: 400px;
}
.checkout {
    text-align: end;
}
/*  ************************************* end of cart shopping  ********************************** */
/* ************************************** start of account style ********************************* */
.form-container {
    background-color: #fff;
    width: 300px;
    height: 400px;
    justify-self: center;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2%;
    margin: auto;
    padding: 20px 0px;
    position: relative;
    text-align: center;
    overflow: hidden;
}
.form-container span {
    color: #555;
    font-weight: bold;
    padding: 0 10px;
    margin-right: 20px;
    width: 100%;
    cursor: pointer;
}
.header form {
    max-width: 300px;
    padding: 0 20px;
    position: absolute;
    top: 130px;
    transition: transform 1s;
}
.header input {
    margin: 10px 0;
    padding: 0 10px;
    width: 100%;
    height: 30px;
    border: 1px solid #ccc;
}
form  .btn {
    border: none;
    cursor: pointer;
    margin: 10px 0;
}
form .btn:focus {
    outline: none;
}
#RegisterForm {
    left: 0px;
}
#LoginForm {
    left: -300px;
    max-width: 100%;
}
form a {
    font-size: 12px;
    display: block;
}
#Indicator{
    width: 35%;
    border: none;
    background: var(--main-color);
    height: 3px;
    margin-top: 8px;
    transform: translateX(40px);
    transition: transform 1s;
}
/* ************************************** end of account style ************************************ */
/* **************************************** about us and contact us style ******************************************* */
.about-us {
    margin-bottom: 400px;
}
.about,
.text-contact {
    font-size: 2em;
    font-weight: bold;
    text-align: center;
    color: var(--main-color);
}
.about h2,
.text-contact h2 {
    border: 2px solid rgb(134, 133, 133);
}
.contact {
    padding-top: var(--section-padding);
    padding-bottom: var(--section-padding);
}
.contact .small-container .contact-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px,1fr));
    grid-gap: 20px;
    box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.1);
    border-radius: 2%;
}
.contact .left img {
    max-width: 100%;
}
.contact .right h2 {
    text-align: center;
}
.contact .left {
    background-color: #f1f1f1;
}
.contact hr {
    width: 80px;
    height: 4px;
    background-color: var(--main-color);
    border: none;
    margin-bottom: 30px;
}
.contact input,
.contact textarea {
    margin: 10px 0;
    padding: 0 10px;
    width: 97%;
    height: 30px;
    border: 1px solid #ccc;
}
.contact textarea {
    height: 110px;
    padding-top: 5px;
}
.contact .right .btn {
    margin-top: 5px;
    margin-bottom: 0px;
    width: 97%;
    text-align: center;
}
/* ************************************************************************************************ */
@media (max-width:390px) {
    .all-products .other-products span {
        padding: 4px 8px;
    }
}
@media (max-width:991px) {
    .all-products .products {
        margin: 0;
    }
    .all-products .row {
        margin: 0;
    }
}
  /* container style */

  .container {
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}
.small-container {
    max-width: 1080px;
    margin: auto;
    padding-left: 35px;
    padding-right: 35px;
}
/* small */

@media (min-width: 768px) {
    .container {
        width: 750px;
    }
    .all-products .row-2 {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
        grid-gap: 20px;
    }
}
@media (max-width: 529px) {
    .all-products .row-2 {
        display: grid;
        grid-template-rows:auto auto;
        grid-gap: 20px;
    }
    .all-products .sorting {
        justify-self: center;
    }
    .cart .product p {
        display: none;
    }
    .cart tr td:nth-child(2),
    .cart tr td:nth-child(3) {
        text-align: center;
    }
}
/* meduim */

@media (min-width : 992px) {
    .container {
        width: 970px;
    }
    .header .icon {
        display: none;
    }
    .all-products .row-2 {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(300px,1fr));
        grid-gap: 20px;
    }
    .related-products .row-2 {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
        grid-gap: 40px;
    }
    .related-products .row-2 p {
        justify-self: end;
        padding-right: 10px;
        cursor: pointer;
    }
    .products-details .row {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
        grid-gap: 40px;
        padding-top: 40px;
    }
    .contact .small-container .contact-grid {
        grid-template-columns: repeat(auto-fill, minmax(400px,1fr));
    }
}

/* large */

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
    .row .col-1:first-of-type {
        margin:auto;
    }
    .all-products .row-2 {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(350px,1fr));
        grid-gap: 20px;
    }
}
/* end of container style */
/* media / responsive */
@media (max-width: 475px) {
    .header .row,
    .offer .row,
    .categories .row,
    .featured-products .row,
    .latest-products .row,
    .testimonial .row,
    footer .row {
        grid-template-columns: repeat(auto-fill, minmax(200px,1fr));
    }
    .brands {
        text-align: center;
    }
    .all-products {
        text-align: center;
    }
    .all-products h2 {
        text-align: center;
    }
    .all-products select {
        display: none;
    }
    .form-container {
        width: 250px;
    }
}
@media (max-width: 1210px) {
    footer .col-4 .download {
        display:  block;
    }
}
@media (max-width:991px) {
    .navbar ul {
        display: none;
        position: absolute;
        left: 0;
        top: 60px;
        width: 100%;
        z-index: 9999;
        background-color: #000;
        padding: 30px 0;
        text-align: center;
    }
    .navbar ul li {
        display: block;
        padding:20px 40px;
    }
    .navbar ul li a {
        color: #b5b5b5;
    }
    .navbar:hover ul {
        display: block;
    }
    .navbar ul li a:hover {
        color: var(--main-color);
    }
    .products-details .row .col-2 {
        padding-top: 40px;
    }
    .related-products .row-2 {
        text-align: center;
    }
    .related-products .row-2 p {
        display: none;
    }
    .small-container {
        max-width: 750px;
    }
}